<div class="h-viewport-height pt-32 pb-5 overflow-auto">
  <div class="container mx-auto p-2">
    <div>
      <h1
        class="text-center text-2xl md:text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-bl from-logogreen to-red-600"
      >
        Before & After Flowerbeds
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-10">
        <div *ngFor="let image of images" class="bg-white rounded-md shadow-md">
          <img
            src="{{ image.beforeImage }}"
            alt="Before image"
            class="w-full rounded-t-md"
          />
          <img
            src="{{ image.afterImage }}"
            alt="After image"
            class="w-full rounded-b-md"
          />
          <div class="px-4 py-2">
            <h2 class="text-xl font-bold">{{ image.caption }}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-10">
      <h1
        class="text-center text-2xl md:text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-bl from-logogreen to-red-600"
      >
        Lawns
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
        <div *ngFor="let lawn of lawns" class="bg-white rounded-md shadow-md">
          <img
            src="{{ lawn.lawn }}"
            alt="Lawn image"
            class="w-full rounded-md"
          />
          <div class="px-4 py-2">
            <h2 class="text-xl font-bold">{{ lawn.caption }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
