<div class="contact-form-container bg-leaves bg-cover">
  <h2>Contact Form</h2>
  <div class="form-row flex-container">
    <label for="first-name">First Name<span class="required">*</span></label>
    <input
      type="text"
      id="first-name"
      name="first-name"
      [(ngModel)]="firstName"
      required
    />

    <label for="last-name">Last Name<span class="required">*</span> </label>
    <input
      type="last"
      id="last-name"
      name="last-name"
      [(ngModel)]="lastName"
      required
    />
  </div>

  <div class="form-row flex-container">
    <label for="email">Email<span class="required">*</span> </label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required />

    <label for="phone">Phone Number<span class="required">*</span> </label>
    <input type="phone" id="phone" name="phone" [(ngModel)]="phone" required />

    <label for="message">Message<span class="required">*</span> </label>
    <textarea
      id="message"
      name="message"
      [(ngModel)]="message"
      required
    ></textarea>
  </div>
  <button type="submit">Submit</button>
</div>
