<div
  class="flex md:flex-row flex-col justify-between gap-8 md:p-24 pt-24 pb-20 px-5"
>
  <div class="flex-1 space-y-2">
    <img
      src="../../../assets/lawn1.jpeg"
      alt="contact"
      class="object-cover rounded-lg"
    />
    <p class="text-base">
      Looking to spruce up your outdoor space? Look no further than LWG
      LawnCare! Our team is dedicated to providing top-notch landscaping and
      lawn care services at prices that won't break the bank. From creating a
      custom landscaping plan to installing sod and maintaining your lawn, we've
      got you covered. Don't hesitate to reach out to us to discuss your needs -
      our friendly customer service team is always ready to assist you. Get in
      touch today and let us transform your outdoor space into a beautiful
      oasis!
    </p>
  </div>

  <div class="flex-1">
    <h2 class="text-2xl font-bold">Contact Form</h2>
    <div class="form-row flex flex-col justify-between mb-1">
      <label for="first-name" class="mb-2"
        >First Name<span class="required text-red-500">*</span></label
      >
      <input
        type="text"
        id="first-name"
        name="first-name"
        [(ngModel)]="firstName"
        required
        class="border border-gray-300 py-2 px-3 rounded-lg mb-2"
      />

      <label for="last-name" class="mb-2"
        >Last Name<span class="required text-red-500">*</span>
      </label>
      <input
        type="last"
        id="last-name"
        name="last-name"
        [(ngModel)]="lastName"
        required
        class="border border-gray-300 py-2 px-3 rounded-lg mb-2"
      />
    </div>

    <div class="form-row flex flex-col mb-1">
      <label for="email" class="mb-2"
        >Email<span class="required text-red-500">*</span>
      </label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        class="border border-gray-300 py-2 px-3 rounded-lg mb-2"
      />

      <label for="phone" class="mb-2"
        >Phone Number<span class="required text-red-500">*</span>
      </label>
      <input
        type="phone"
        id="phone"
        name="phone"
        [(ngModel)]="phone"
        required
        class="border border-gray-300 py-2 px-3 rounded-lg mb-2"
      />

      <label for="message" class="mb-2"
        >Message<span class="required text-red-500">*</span>
      </label>
      <textarea
        id="message"
        name="message"
        [(ngModel)]="message"
        required
        class="border border-gray-300 py-2 px-3 rounded-lg mb-2 resize-y min-h-32 max-h-96"
      ></textarea>
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Submit
    </button>
  </div>
</div>
