.contact-form-container {
  display: grid;
  background-color: hwb(100 95% 4%);
  padding: 220px;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1px;
}

label {
  text-align: left;
  margin-right: 25px;
}

input {
  flex: 1;
  padding: 5px;
}

.required {
  color: red;
  margin-left: 5px;
}

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}

input {
  background-color: #07b13a;
  color: #fff; /* set text color to white */
  border: black; /* remove border */
  padding: 8px;
}

textarea {
  background-color: #07b13a;
}
