<mat-toolbar class="bg-red-500 sm:bg-yellow-500 text-white">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  <button style="margin-right: 60px" mat-icon-button routerLink="/">Home</button>

  <button style="margin-right: 70px" mat-icon-button routerLink="/about" [matMenuTriggerFor]="Information">
    About
  </button>
  <mat-menu #Information="matMenu">
    <button mat-menu-item>Locations</button>
    <button mat-menu-item>Our Teams</button>
    <button mat-menu-item>Testimonials</button>
    <button mat-menu-item>Quote</button>
  </mat-menu>

  <button style="margin-right: 75px" mat-icon-button routerLink="/contact">Contact</button>

  <button style="margin-right: 80px" mat-icon-button routerLink="/services" [matMenuTriggerFor]="menu">Services</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Mowing & Edging</button>
    <button mat-menu-item>Fertilization</button>
    <button mat-menu-item>Weed Control</button>
    <button mat-menu-item>Pest Control</button>
    <button mat-menu-item>Sod Installation</button>
    <button mat-menu-item>Flowerbed Restoration</button>
    <button mat-menu-item>Flowerbed Border Installation</button>
    <button mat-menu-item>Pre-emergent</button>
  </mat-menu>

  <button style="margin-right: 20px" mat-icon-button routerLink="/gallery" [matMenuTriggerFor]="picture">
    Gallery
  </button>
  <mat-menu #picture="matMenu">
    <button mat-menu-item>Before & After</button>
  </mat-menu>
</mat-toolbar>
