<div
  class="z-50 flex flex-row px-4 items-center h-20 fixed backdrop-blur-sm bg-transparent w-full shadow-logogreen shadow-md justify-between"
>
  <button class="py-2">
    <img
      routerLink="/"
      class="md:w-24 md:h-20 w-20 h-16 object-cover"
      src="../../../assets/manmowing.png"
    />
  </button>
  <div
    class="hidden md:flex flex-row justify-around items-center mx-auto w-full font-medium text-xl"
  >
    <div>
      <button class="hover:text-logogreen hover:duration-500" routerLink="/">
        Home
      </button>
    </div>
    <div>
      <button
        class="hover:text-logogreen hover:duration-500"
        [matMenuTriggerFor]="Information"
      >
        About
      </button>
      <mat-menu #Information="matMenu">
        <button mat-menu-item>Locations</button>
        <button mat-menu-item>Our Teams</button>
        <button mat-menu-item>Testimonials</button>
        <button mat-menu-item>Quote</button>
      </mat-menu>
    </div>

    <div>
      <button
        class="hover:text-logogreen hover:duration-500"
        routerLink="/contact"
      >
        Contact
      </button>
    </div>
    <div>
      <button
        class="hover:text-logogreen hover:duration-500"
        [matMenuTriggerFor]="menu"
      >
        Services
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Mowing & Edging</button>
        <button mat-menu-item>Fertilization</button>
        <button mat-menu-item>Weed Control</button>
        <button mat-menu-item>Pest Control</button>
        <button mat-menu-item>Sod Installation</button>
        <button mat-menu-item>Flowerbed Restoration</button>
        <button mat-menu-item>Flowerbed Border Installation</button>
        <button mat-menu-item>Pre-emergent</button>
      </mat-menu>
    </div>

    <div>
      <button
        class="hover:text-logogreen hover:duration-500"
        [matMenuTriggerFor]="picture"
      >
        Gallery
      </button>
      <mat-menu #picture="matMenu">
        <button mat-menu-item>Before & After</button>
      </mat-menu>
    </div>
  </div>
  <div class="md:hidden text-logogreen">
    <button mat-icon-button (click)="onHamburgerClick()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>
