button.custom-button {
  background-color: transparent;
  color: black;
  font-size: larger;
  font-weight: bold;
}

.custom-button:hover {
  background-color: #5cc85b;
}
.container.show-sidebar {
  transform: translateX(-300px);
}
