<div class="bg-leaves object-contain h-full p-5 border-l-2 border-red-400">
  <div class="flex flex-col gap-4 justify-start">
    <button (click)="onCloseSidebar()" class="text-logogreen">
      <mat-icon class="font-bold">close</mat-icon>
    </button>

    <div
      class="hover:text-logogreen hover:duration-500 text-black font-semibold text-base cursor-pointer"
    >
      <button (click)="onCloseSidebar()" routerLink="/">Home</button>
    </div>

    <div>
      <div
        class="hover:text-logogreen hover:duration-500 text-black font-semibold text-base cursor-pointer"
      >
        <button (click)="onCloseSidebar()" routerLink="/about">About</button>
      </div>
      <ul>
        <li>
          <button
            (click)="onCloseSidebar()"
            routerLink="/contact"
            class="cursor-pointer hover:text-gray-500"
          >
            Location
          </button>
        </li>
        <li>
          <button
            (click)="onCloseSidebar()"
            routerLink="/"
            class="cursor-pointer hover:text-gray-500"
          >
            Our Team
          </button>
        </li>
        <li>
          <div
            (click)="onCloseSidebar()"
            routerLink="/"
            class="cursor-pointer hover:text-gray-500"
          >
            Testimonials
          </div>
        </li>
        <li>
          <button
            (click)="onCloseSidebar()"
            routerLink="/"
            class="cursor-pointer hover:text-gray-500"
          >
            Quotes
          </button>
        </li>
      </ul>
    </div>
    <div>
      <div
        class="hover:text-logogreen hover:duration-500 text-black font-semibold text-base"
      >
        <button
          class="cursor-pointer"
          (click)="onCloseSidebar()"
          routerLink="/contact"
        >
          Contact
        </button>
      </div>
    </div>
    <div>
      <div
        class="hover:text-logogreen hover:duration-500 text-black font-semibold text-base"
      >
        <button (click)="onCloseSidebar()" routerLink="/services">
          Services
        </button>
      </div>
      <ul>
        <li>
          <button
            (click)="onCloseSidebar()"
            routerLink="/contact"
            class="cursor-pointer hover:text-gray-500"
          >
            Mowing & Edging
          </button>
        </li>
        <li>
          <button
            (click)="onCloseSidebar()"
            routerLink="/"
            class="cursor-pointer hover:text-gray-500"
          >
            Fertilization
          </button>
        </li>
        <li>
          <button
            (click)="onCloseSidebar()"
            routerLink="/"
            class="cursor-pointer hover:text-gray-500"
          >
            Weed Control
          </button>
        </li>
        <li>
          <button
            (click)="onCloseSidebar()"
            routerLink="/"
            class="cursor-pointer hover:text-gray-500"
          >
            Control Pest
          </button>
          <button
            (click)="onCloseSidebar()"
            routerLink="/"
            class="cursor-pointer hover:text-gray-500"
          >
            Sod Installation
          </button>
          <button
            (click)="onCloseSidebar()"
            routerLink="/"
            class="cursor-pointer hover:text-gray-500"
          >
            Flowerbed Restoration
          </button>
          <button
            (click)="onCloseSidebar()"
            routerLink="/"
            class="cursor-pointer hover:text-gray-500"
          >
            Flowerbed Border Installation
          </button>
          <button
            (click)="onCloseSidebar()"
            routerLink="/"
            class="cursor-pointer hover:text-gray-500"
          >
            Pre-emergent
          </button>
        </li>
      </ul>
    </div>
    <div>
      <button
        class="hover:text-logogreen hover:duration-500 text-black font-semibold text-base cursor-pointer"
        routerLink="/gallery"
        (click)="onCloseSidebar()"
      >
        Gallery
      </button>
      <ul>
        <li>
          <button
            (click)="onCloseSidebar()"
            routerLink="/contact"
            class="cursor-pointer hover:text-gray-500"
          >
            Before & After
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
