<mat-toolbar color="primary">
  <button style="margin-right:60px" mat-icon-button routerLink="/">Home</button>
  <button style="margin-right:60px" mat-icon-button routerLink="/about">About</button>
  <button style="margin-right:60px" mat-icon-button routerLink="/contact">Contact</button>
  <button style="margin-right:60px" mat-icon-button routerLink="/services">Services</button>
  <button style="margin-right:20px" mat-icon-button routerLink="/gallery">Gallery</button>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
