<div class="flex flex-col md:gap-5 gap-5 bg-leaves  md:bg-fill bg-cover bg-top text-center h-viewport-height pt-28 overflow-auto">
    <h1 class="text-center text-2xl md:text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-bl from-logogreen to-red-600 ">Welcome to LWG Lawn Care</h1>
    <div class="flex flex-col md:gap-0 gap-5">
        <div class="flex relative">
            <img class="mx-auto md:w-5/6 md:h-3/4 w-full rounded-lg object-cover shadow-lg shadow-black" src="../../../assets/mower.jpg" alt="mower">
            <button mat-icon-button routerLink="/contact" class="z-1 absolute top-1/2 right-1/2 translate-x-1/2 shadow-sm shadow-black mx-auto bg-transparent 
            backdrop-blur-md bg-opacity-10 hover:bg-gradient-to-bl from-logogreen to-red-600 text-white font-medium py-2 px-4 rounded-lg md:w-1/3 text-lg md:text-2xl w-1/2 
            hover:animate-pulse transition-all delay-500">Request an Estimate</button>
        </div>
        <div class="flex flex-col w-full py-4 justify-center items-center bg-green-400 shadow-lg shadow-black rounded-lg backdrop-blur-sm bg-transparent bg-opacity-10">
            <div class="flex flex-col justify-center items-center py-4">
                <h1 class="md:text-3xl text-lg font-bold"> YOUR LAWN OUR CARE....</h1>
                <h2 class="text-red-600 text-xl font-bold">Recent Request:</h2>
            </div>
            <ul class=" items-center text-sm md:text-2xl font-bold justify-between my-auto space-y-4">
                <li>Mowing & Edging</li>
                <li>Fertilization </li>
                <li>Weed Control</li>
                <li>Pest Control </li>
                <li>Sod Installation</li>
                <li>Flowerbed Border Installation</li>
                <li>Flowerbed Restoration</li>
                <li>Pre-emergent</li>
            </ul>
        </div>
    </div>
</div>