<div class="flex flex-col gap-4 bg-gray-100 text-center h-viewport-height pt-32 pb-5 overflow-auto">
    <h1 class="text-center text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-bl from-logogreen to-red-600">Welcome to LWG Lawn Care</h1>
    <div>
    </div>
    <div class="flex md:flex-row flex-col px-5 gap-4">
        <div class="flex-1 relative">
            <img class="mx-auto rounded-lg object-cover shadow-lg shadow-black" src="../../../assets/mower.jpg" alt="mower">
            <button class="z-1 absolute top-1/2 right-1/2 translate-x-1/2 shadow-sm shadow-black mx-auto bg-transparent 
            backdrop-blur-md bg-opacity-10 hover:bg-gradient-to-bl from-logogreen to-red-600 text-white font-medium py-2 px-4 rounded-lg w-1/3 text-2xl 
            hover:animate-pulse transition-all delay-500">Get a Quote</button>
        </div>
        <div class="flex-1 flex-col space-y-9  shadow-sm shadow-black rounded-lg">
            <div class="flex justify-center items-center pt-4 ">
                <h1 class="text-lg font-bold"> YOUR LAWN OUR CARE....</h1>
            </div>
            <ul class=" items-center text-3xl font-bold justify-between my-auto space-y-4">
                
                <ngx-typed-js [startDelay]="1500" [strings]="[' Mowing & Edging. ']" [bindInputFocusEvents]="true" [showCursor]="false" [typeSpeed]="40" class="text-center text-xl font-bold text-gray-800"> <h1 class="typing"></h1></ngx-typed-js>
                <ngx-typed-js [startDelay]="3000" [strings]="[' Fertilization. ']" [bindInputFocusEvents]="true" [showCursor]="false" [typeSpeed]="40" class="text-center text-xl font-bold text-gray-800"> <h1 class="typing"></h1></ngx-typed-js>
                <ngx-typed-js [startDelay]="6000" [strings]="[' Weed Control. ']" [bindInputFocusEvents]="true" [showCursor]="false" [typeSpeed]="40" class="text-center text-xl font-bold text-gray-800"> <h1 class="typing"></h1></ngx-typed-js>
                <ngx-typed-js [startDelay]="8500" [strings]="[' Pest Control. ']" [bindInputFocusEvents]="true" [showCursor]="false" [typeSpeed]="40" class="text-center text-xl font-bold text-gray-800"> <h1 class="typing"></h1></ngx-typed-js>
                <ngx-typed-js [startDelay]="10000" [strings]="[' Sod Installation. ']" [bindInputFocusEvents]="true" [showCursor]="false" [typeSpeed]="40" class="text-center text-xl font-bold text-gray-800"> <h1 class="typing"></h1></ngx-typed-js>
                <ngx-typed-js [startDelay]="12500" [strings]="[' Flowerbed Border Installation. ']" [bindInputFocusEvents]="true" [showCursor]="false" [typeSpeed]="40" class="text-center text-xl font-bold text-gray-800"> <h1 class="typing"></h1></ngx-typed-js>
                <ngx-typed-js [startDelay]="15000" [strings]="[' Flowerbed Restoration. ']" [bindInputFocusEvents]="true" [showCursor]="false" [typeSpeed]="40" class="text-center text-xl font-bold text-gray-800"> <h1 class="typing"></h1></ngx-typed-js>
                <ngx-typed-js [startDelay]="17500" [strings]="[' Pre-emergent. ']" [bindInputFocusEvents]="true" [showCursor]="false" [typeSpeed]="40" class="text-center text-xl font-bold text-gray-800"> <h1 class="typing"></h1></ngx-typed-js>
            </ul>
        </div>
    </div>
</div>