<div
  class="z-0 flex flex-col md:gap-5 gap-5 md:bg-fill bg-cover bg-top text-center h-viewport-height pt-20 overflow-auto"
>
  <div class="z-0 flex flex-col md:gap-0 gap-5">
    <div class="flex relative">
      <img
        class="z-0 mx-auto md:w-full md:h-full w-full object-cover shadow-lg shadow-black filter brightness-75"
        src="../../../assets/IMG_2685.JPG"
        alt="grass"
      />
      <div
        class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center"
      >
        <p
          class="text-white md:text-[70px] text-4xl font-bold animate-slide-in-bottom"
        >
          LWG LAWN CARE
        </p>
        <p
          class="font-extrabold animate-slide-in-delay md:text-4xl text-transparent bg-clip-text bg-gradient-to-bl from-logogreen to-red-600"
        >
          Your Lawn Our Care!
        </p>
      </div>
      <!-- <button
        mat-icon-button
        routerLink="/contact"
        class="absolute top-1/2 right-1/2 translate-x-1/2 shadow-sm shadow-black mx-auto bg-transparent backdrop-blur-md bg-opacity-10 hover:bg-gradient-to-bl from-logogreen to-red-600 text-white font-medium py-2 px-4 rounded-lg md:w-1/3 text-lg md:text-2xl w-1/2 hover:animate-pulse transition-all delay-500"
      >
        Request an Estimate
      </button> -->
    </div>

    <div
      class="flex flex-col w-full py-8 justify-center items-center bg-green-400 shadow-lg shadow-black rounded-lg backdrop-blur-sm bg-transparent bg-opacity-10"
    >
      <h1 class="md:text-5xl text-lg font-bold">About LWG Lawn Care</h1>
      <p class="text-md md:text-medium">
        LWG Lawn Care was founded in 2020 with one purpose in mind- to provide
        full scale landscaping services, including lawn maintenance at
        reasonable rates to the Dallas/Fort Worth metroplex. Our company has
        grown over the years and continues to grow giving each client 100%
        satisfication guaranteed!
      </p>

      <div class="flex justify-center my-4">
        <button
          class="px-4 py-2 text-white font-semibold bg-blue-500 rounded hover:bg-blue-600"
        >
          Learn More
        </button>
      </div>

      <div class="flex flex-row justify-center">
        <div class="w-1/2 p-2">
          <img
            src="../../../assets/IMG_2236.JPG"
            alt="img 2"
            class="border-white border-8"
          />
        </div>
        <div class="w-1/2 p-2">
          <img
            src="../../../assets/IMG_9178.JPG"
            alt="img 3"
            class="border-white border-8"
          />
        </div>
      </div>

      <div
        class="flex flex-col w-full py-8 justify-center items-center bg-green-400 shadow-lg shadow-black rounded-lg backdrop-blur-sm bg-transparent bg-opacity-20"
      >
        <h1 class="text-2xl font-bold mb-4">Client Reviews</h1>
        <div class="review-content">
          <p>
            "Our yard was in shambles but thanks to LWG Lawn Care, I can now
            feel better about how my yard looks!- Ray Conor"
          </p>
        </div>
        <div class="review-box">
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>

        <div class="review-content">
          <p>
            "I have been with LWG Lawn Care ever since they started and there
            services are always top tier and customer service is beyond amazing.
            I would definietely recommend LWG Lawn Care to anybody in the DFW
            area! - Jeff Pickers"
          </p>
        </div>
        <div class="review-box">
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>

        <div class="flex justify-center my-4">
          <button
            class="px-4 py-2 text-white font-semibold bg-blue-500 rounded hover:bg-blue-600"
          >
            Read More
          </button>
        </div>
      </div>

      <div
        class="flex flex-col w-full py-4 justify-center items-center bg-green-400 shadow-lg shadow-black rounded-lg backdrop-blur-sm bg-transparent bg-opacity-5"
      >
        <div class="flex flex-col justify-center items-center py-4">
          <h1 class="md:text-3xl text-lg font-bold">
            Frequently Asked Questions
          </h1>
          <!-- <h2 class="text-red-600 text-xl font-bold">Recent Request:</h2> -->
        </div>
        <ul
          class="items-center text-sm md:text-lg font-bold justify-between my-auto space-y-4"
        >
          <li>
            <details>
              <summary>What lawns do LWG Lawn Care service?</summary>
              <p>
                LWG Lawn Care services any type of lawn and we even specialize
                in certain types such as: Bermuda, St.Augustine and Xioxa.
              </p>
            </details>
          </li>
          <li>
            <details>
              <summary>What locations does LWG Lawn Care cover?</summary>
              <p>
                LWG Lawn Care offers all of its services throughout the
                Dallas/Fort Worth metroplex.
              </p>
            </details>
          </li>

          <li>
            <details>
              <summary>Do you offer a work guarantee?</summary>
              <p>
                LWG Lawn Care ensures that every client is happy and satisfied
                with our work as your lawn is our top priority!
              </p>
            </details>
          </li>

          <li>
            <details>
              <summary>What kind of specialist do you have?</summary>
              <p>
                LWG Lawn Care is known for being an all rounded company which
                has specialist in the fields: flowerbed restoration, pest
                control, weed and fertilization treatment and many more!
              </p>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
