<div class="flex flex-col bg-gradient-to-t from-black to-logogreen items-center px-5">
    <div class="flex mx-auto pt-4">        
        <img src="../../../assets/Logo3 (1).png" class="object-cover w-40 justify-self-auto"/>
    </div>
   
     <div class="flex justify-between items center mb-2 md:text-4xl text-lg space-x-10">
         <a *ngFor="let social of socialInfo" [href]='social.link' target="_blank">
            <i [class]="'fa-brands fa-' + social.icon" 
       class="pt-4 duration-200 text-transparent bg-clip-text bg-gradient-to-bl from-logogreen to-red-600
        hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-bl hover:from-logogreen hover:to-white
        hover:scale-125" ></i>
        </a>
     </div> 
    <div>
            <p class="text-white text-xs lg:text-base">©LWGLAWNCARE 2023. All rights reserved.</p>
    </div>
   
</div>
